	#content {
	 background: #0c3e5f;
	 color: #fefefe !important;
	 padding: 2rem;
	 border-radius: 0;
	}

	#content .button {
	 margin-bottom: 0;
	 border-radius: 0 0 0 0;
	}
	img {
	margin: 2em 0 2em 0;
	}

	.input-group-field{
	margin-bottom: 5px !important;
	}

	label {
	 color: #fefefe !important;
	}