<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="width=device-width" name="viewport">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/foundation-emails/2.2.1/foundation-emails.min.css" rel="stylesheet">
	<title></title>
</head>
<body>
	<span class="preheader"></span>
	<table class="body">
		<tr>
			<td align="center" class="center" valign="top">
				<center data-parsed="">
					<style class="float-center" type="text/css">
					         body,
					         html,
					         .body {
					           background: #f3f3f3 !important;
					         }
					         .container.header {
					           background: #f3f3f3;
							 }
							 table.button.success table td  {
					           background: #df5e30;
							 }
							 
					</style>
					<table align="center" class="container float-center">
						<tbody>
							<tr>
								<td>
									<table class="spacer">
										<tbody>
											<tr>
												<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
											</tr>
										</tbody>
									</table>
									<center data-parsed="">
										<img align="center" alt="" class="float-center" src="https://register.freeside.co.uk/static/freeside_logo.png">
									</center>
									<table class="spacer">
										<tbody>
											<tr>
												<td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
											</tr>
										</tbody>
									</table>
									<table class="row">
										<tbody>
											<tr>
												<th class="small-12 large-12 columns first last">
													<table>
														<tr>
															<th>
																<h4 class="text-center">Welcome to Freeside {{firstname}}.</h4>
															</th>
															<th class="expander"></th>
														</tr>
													</table>
												</th>
											</tr>
										</tbody>
									</table>
									<hr>
									<table class="row">
										<tbody>
											<tr>
												<th class="small-12 large-12 columns first last">
													<table>
														<tr>
															<th>
																<p class="text-center"> We are glad you could join us, You can now log in to the Freeside machines and other Freeside services with your username.</p>
																<h4 class="text-center">{{username}}</h4>

																<p class="text-center">Be sure to join our <a href='http://discord.freeside.co.uk'>Discord</a> and our <a href='http://forums.freeside.co.uk'>Forum</a>.</p>
															</th>
															<th class="expander"></th>
														</tr>
													</table>
												</th>
											</tr>
										</tbody>
									</table>
									<table class="row collapsed footer">
										<tbody>
											<tr>
												<th class="small-12 large-12 columns first last">
													<table>
														<tr>
															<th>
																<p class="text-center"><a href="#">admin@freeside.co.uk</a> | <a href="#">Unsubscribe</a></p>
															</th>
															<th class="expander"></th>
														</tr>
													</table>
												</th>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</center>
			</td>
		</tr>
	</table>
	<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;">
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	</div>
</body>
</html>