{% extends "layout.html" %}
{% block title %}Complete Registration{% endblock %}

{% block content %}
					<form method="post">
						<h4>Sign Up</h4>
						<p>Please enter your details to complete your registration to Freeside.</p>{{form.csrf}} {{form.display_name.label}} {{form.display_name(class_="input-group-field")}} {{form.first_name.label}} {{form.first_name(class_="input-group-field")}} {{form.password.label}} {{form.password(class_="input-group-field")}} {{form.confirm.label}} {{form.confirm(class_="input-group-field")}} <button class="button">Sign Up</button>
					</form>
{% endblock %}



