<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %} Freeside</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>



</head>
<body>


	
      <div class="section"></div>

  <main>
    <center>
      <img class="responsive-img" style="width: 250px;" src="{{ url_for('static', filename='freeside_logo.png') }}"/>
      <div class="section"></div>
					{% with messages = get_flashed_messages() %} {% if messages %}
                    <ul class="flashes">
						{% for message in messages %}
						<li style="list-style: none"><h5 class="indigo-text">{{ message }}</h5></li>
						{% endfor %}
					</ul>{% endif %} 
					{% endwith %}

      <div class="section"></div>

      <div class="container">
              <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
              {%if message%}
					    <h5>{{message}}</h5>
                <div class="section"></div>
              {% endif %} 
{% block content %}{% endblock %}
</div>
      </div>
    </center>
  </main>




                    
 <script type="text/javascript" src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>

</body>
</html>
